.main-container {
  display: flex;
  flex-direction: row;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.err-msg {
  margin: 1rem;
}

@media screen and (max-width: 500px) {
  .main-container {
    flex-direction: column;
  }
}